body {
  font-size: 18px;
  line-height: 1.8;
  /* background-color: #f0f0eb; */
}

main {
  height: 100vh;
  position: relative;

  .topbar {
    max-width: 996px;
    margin: 0 auto;
    font-family: sans-serif;

    height: 60px;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 1.5rem;
      max-width: 996px;
    }

    .tools {
    }
  }

  .message-container {
    min-height: calc(100vh - 80px);

    .message {
      & + & {
        margin-top: 1rem;
      }

      & .prompt,
      .response,
      .appended {
        .content {
          max-width: 996px;
          margin: 0 auto;
          padding: 0.5rem 2rem;
        }
      }

      .prompt {
        .content {
          &::before {
            content: '😀 ';
            display: block;
            font-size: 1.5rem;
          }
        }
      }

      .response {
        .content {
          &::before {
            content: '🤖 ';
            display: block;
            font-size: 1.5rem;
          }
          /* border: 1px solid #ccc; */
          /* border-radius: 0.25rem; */
        }
        /* background-color: #eee; */
        /* border-top: 1px solid #ccc; */
        /* border-bottom: 1px solid #ccc; */
      }

      .appended {
        .content {
          padding: 0;
        }
      }

      &:last-child {
        .appended {
          .content {
            height: 80px;
          }
        }
      }

      &.system-tip {
        & textarea {
          border: none;
          outline: none;
          border-radius: 0;
          background-color: transparent;
          width: 100%;
          resize: none;

          &:focus {
            outline: none;
            border: 2px solid black;
            border-radius: 0.25rem;
            padding: 0 0.25rem;
            text-align: center;
          }
        }
      }
    }
  }

  .input-box {
    height: 80px;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;

    .inner {
      max-width: 996px;
      margin: 0 auto;

      display: grid;
      grid-template-columns: 1fr auto;
      border: 2px solid #333;
      border-radius: 0.25rem;

      & textarea,
      button {
        border: none;
        outline: none;
      }

      & textarea {
        padding: 0.25rem 0.5rem;
        resize: none;
      }

      & button {
        height: 100%;
        padding: 0.25rem 1rem;
        background-color: black;
        color: white;
        border-top-right-radius: 0.1rem;
        border-bottom-right-radius: 0.1rem;
      }
    }
  }
}
